/* Global styles */
body {
	font-family: Arial, sans-serif;
	color: #333;
	margin: 0;
	padding: 0;
}

h1, h2, h3 {
	margin: 0;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: #333;
}

/* Header styles */
header {
	background-color: #f5f5f5;
	padding: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

nav ul {
	display: flex;
}

nav li {
	margin: 0 10px;
}

/* Product section styles */
#product-info {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 20px;
}

#product-image img {
	max-width: 100%;
}

#product-details {
	margin-left: 20px;
}

#product-details h2 {
	font-size: 24px;
	margin-bottom: 10px;
}

#product-details h3 {
	font-size: 20px;
	margin-bottom: 10px;
	color: #666;
}

#product-details p {
	font-size: 16px;
	margin-bottom: 20px;
}

#product-price {
	font-size: 24px;
    margin-bottom: 20px;
}